$azul: rgb(80, 83, 114);
$blanco: rgb(255, 255, 255);
$rosa: rgb(240, 57, 115);
$azulmedio: rgb(33, 37, 74);
$azuloscuro: rgb(23, 26, 59);
$verde: rgb(171, 218, 77);
$sombra: rgba(40, 40, 40, 0.323);
$gris: rgb(243, 242, 238);
$facebook: rgb(68, 93, 144);
$instagram: rgb(222, 41, 112);
$twitter: rgb(29, 160, 242);
$youtube: rgb(255, 0, 0);
$grisletra: rgb(104, 107, 141);
